<div class="form">
<%= form_for [@user, @guest] do |f| %>
	<div>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
 	</div>

    <div>
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
    </div>

	<div>
    <%= f.label :party_name %> <i>(this will help you keep your guests organized)</i>
    <%= f.text_field :party_name %>
 	</div>

	<div>
    <%= f.label :phone_number %>
    <%= f.text_field :phone_number %>
 	</div>

    <div>
    <%= f.label :address_1%>
    <%= f.text_field :address_1 %>
    </div>

    <div>
    <%= f.label :address_2, "Address Line 2" %> <i>(Apartment, Suite, Unit, Building, etc.)</i>
    <%= f.text_field :address_2 %>
    </div>

    <div>
    <%= f.label :city %>
    <%= f.text_field :city %>
    </div>

    <div>
    <%= f.label :state %>
    <%= f.text_field :state%>
    </div>

    <div>
    <%= f.label :zipcode, "Zip Code" %> 
    <%= f.text_field :zipcode%>
	</div>

    <button class="btn btn-info">Add</button>
<% end %>
</div>
