<div class="container-fluid" id="guest-list" >
  <!-- row: header -->
  <div class="row">
    <div class="col-xs-12">
      <h1>Guest List</h1>
      <hr class="style1">
    </div>
  </div>
  
  <!-- row: buttons and forms -->  
  <div class="row guest-buttons">
    <div class="col-xs-3" id="copy-text">
      <h4 class="quit">Quit workin' so hard!</h4> 
      <h5>Copy the link and send it to your guests to fill out.<br> <i>Dang</i>, that was easy.</h5>

    </div>

    <div class="col-xs-3">
        <div class='guestform-link'>
          <button class='my_clip_button btn btn-primary btn-lg'data-clipboard-target='fe_text' data-clipboard-text="www.belovedapp.co/<%=@user.id%>/hellofriend" id='d_clip_button' title='Copy Link'>
            <b>Copy Link</b>
          </button>
        </div>
    </div>

    <div class="col-xs-3">
          <h5>
            <label for='testarea' id="label">Your form link:</label>
          </h5>
          <textarea cols='25' id='testarea' rows='3'>
          www.belovedapp.co/<%=@user.id%>/hellofriend
          </textarea>


    </div>


    <div class="col-xs-3">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary btn-lg addGuestbtn" data-toggle="modal" data-target="#addGuest">
        Add Guest
      </button>

        <!-- Modal -->
        <div class="modal fade" id="addGuest">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title expense-title">Add Guest</h4>
              </div>
              <div class="modal-body">
                <%= render 'guestform' %>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal --> 
      </div>
    </div>

  </div>


  <!-- row: catgory titles -->
  <div class="row" id="categories">
    <div class="col-xs-1">
      <!-- empty -->
    </div>
    <div class="col-xs-1">
      <h5>Party</h5>
    </div>
    <div class="col-xs-1">
      <h5>First Name</h5>
    </div>
    <div class="col-xs-1">
      <h5>Last Name</h5>
    </div>
    <div class="col-xs-1">
      <h5>Phone Number</h5>
    </div>
    <div class="col-xs-1">
      <h5>Address 1</h5>
    </div>
    <div class="col-xs-1">
      <h5>Address 2</h5>
    </div>
    <div class="col-xs-1">
      <h5>City</h5>
    </div>
    <div class="col-xs-1">
      <h5>State</h5>
    </div>
    <div class="col-xs-1">
      <h5>Zip Code</h5>
    </div>
    <div class="col-xs-1">
    </div>
    <div class="col-xs-1">
      <!-- empty -->
    </div>
  </div>

  <!-- row: guest info -->
  <div class="row guest-info" id="guest-info">

    <div class="col-xs-1">
      <% @guests.each do |guest| %>
    </div>

    <div class="col-xs-1">
      <%= guest.party_name %>
    </div>
   
    <div class="col-xs-1">
        <%= guest.first_name %>
    </div>

    <div class="col-xs-1">
      <%= guest.last_name %>
    </div>

    <div class="col-xs-1">
      <%= guest.phone_number %>
    </div>

    <div class="col-xs-1">
      <%= guest.address_1 %>
    </div>

    <div class="col-xs-1">
      <%= guest.address_2 %>
    </div>

    <div class="col-xs-1">
      <%= guest.city %>
    </div>

    <div class="col-xs-1">
      <%= guest.state %>
    </div>

    <div class="col-xs-1">
      <%= guest.zipcode %>

      <div class="edit-guest">
      <!-- Button trigger modal -->
          <span class="glyphicon glyphicon-pencil" id="edit-expense"data-task-id="<%=guest.id%>" data-toggle="modal" data-target="#editGuest_<%=guest.id%>">
          </span>
          
          <div class="modal fade" id="editGuest_<%=guest.id%>">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  <h4 class="modal-title" id="modal-title">Edit Guest Info</h4>
                </div>
                <div class="modal-body">
                  
              <form method="post" action="/users/<%=@user.id%>/guests/<%=guest.id%>">
                <label>First Name:</label>
                <input type="text" name="guest[first_name]"> 
                <label>Last Name:</label>
                <input type="text" name="guest[last_name]">  
                <br><label>Party Name:</label>
                <input type="text" name="guest[party_name]">   
                <label>Phone Number:</label>
                <input type="text" name="guest[phone_number]">    
                <label>Address 1:</label>
                <input type="text" name="guest[address_1]">    
                <label>Address 2:</label>
                <input type="text" name="guest[address_2]">  
                <br>  
                <label>City:</label>
                <input type="text" name="guest[city]">    
                <label>State:</label>
                <input type="text" name="guest[state]">   
                <br> 
                <label>Zip Code:</label>
                <input type="text" name="guest[zipcode]"> 

                <button class="btn btn-info">Save</button>

                <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
                <input name="_method" type="hidden" value="put" />
              </form>
              
                </div><!-- /.modal-content -->
              </div>
            </div><!-- /.modal-dialog -->
          </div><!-- /.modal --> 

      <%= link_to user_guest_path(@user, guest), method: :delete, data: { confirm: "Are you sure?" } do %>
        <span class="glyphicon glyphicon-trash" id="delete-expense"></span>
      <% end %>
          </div>


    </div>
    
   
    <div class="col-xs-2">
      
    </div>

      <% end %>
  </div>
 

</div><!-- end of container -->



