<%= form_for [@user, @guest] do |f| %>
	<div>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
 	</div>

	<div>
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
 	</div>

	<div>
    <%= f.label :phone_number %>
    <%= f.text_field :phone_number %>
 	</div>

	<div>
    <%= f.label :address %>
    <%= f.date_field :address %>
	</div>

    <%= f.submit %>
<% end %>