
	<div class="container-fluid user-home">
		<div class="row user-home-row">
			<div class="col-xs-12 home-col"> 
				<div id="masthead">
				  <h1 class="message">let's do this.</h1>
				  <a href="#content" class="down scroll">
				    <div>V</div>
				  </a>
				</div>
			</div>
		</div>

		<span id="content" class="container">
		<!--Row 1 (12)-->
		<div class="row row1">
			<div class="col-xs-12">
				<h1 class="welcome-text"> Guess what, <%= current_user.name %>? </h1>
				<h4 class="welcome-subtext">Only <%= @count %> days until you & <%=current_user.fiance_name%> tie the knot!</h4>
			<hr class="style1">
			</div>
		</div>

		<!--Row 2 (12) -->
		<div class="row row-carousel">
			<div class="col-xs-12 carousel">
					<!-- Carousel -->
					<div id="owl-demo">
					<% @images.each do |img| %>
					  <div class="item">  <%= image_tag img.image.url(:thumb) %> </div>
					<% end %>   
					</div>
					<!--Upload photos -->
					<!-- Button trigger modal -->
								<i class="fa fa-camera-retro" aria-hidden="true" data-upload-photo="photoupload" data-toggle="modal" data-target="#uploadPhoto"></i>

								<!-- <span class="glyphicon glyphicon-plus-sign" data-upload-photo="photoupload" data-toggle="modal" data-target="#uploadPhoto">
								</span> -->
								
								<div class="modal fade" id="uploadPhoto">
								  <div class="modal-dialog" role="document">
								    <div class="modal-content">
								      <div class="modal-header">
								        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
								          <span aria-hidden="true">&times;</span>
								        </button>
								        <h4 class="modal-title">Upload photos of you and bae</h4>
								      </div>
								      <div class="modal-body">
										<%= render 'form' %>	
								    	</div><!-- /.modal-content -->
								    </div>
								  </div><!-- /.modal-dialog -->
								</div><!-- /.modal --> 
			</div>
			<br>
		</div>
		

		<!--Row 3 (4,4,4)-->		
		<div class="row row2">
			<div class="col-xs-4" id="calendar">
				<!-- Calendar -->
				<h2>Calendar</h2>
				<hr class="cal-style1">

				<%= month_calendar events: @meetings do |date, meetings| %>
				  <%= date %>

				  <% meetings.each do |meeting| %>
				    <div>
				      <%= meeting.name %>
				    </div>
				  <% end %>
				<% end %>

				<%= link_to "Add Event", new_user_meeting_path(@user) %>
			</div>

				<h2> Weekly Focus</h2>
				<hr class="checklists-style1">

			<div class="col-xs-4 checklist" id="week-checklist">
				<!-- 'This Week's Checklist --> 
				<% @checklists.each do |checklist| %>
	
					<% if checklist.title == "This Week" %>
			
					<h4><b><%= link_to "#{checklist.title}", user_checklists_path(@user, checklist) %></b>
					</h4>

						<!-- Button trigger modal -->
								<span class="glyphicon glyphicon-pencil" id="thisweek-pencil"data-task-id="<%=checklist.id%>" data-toggle="modal" data-target="#editChecklist_<%=checklist.id%>">
								</span>
								
								<div class="modal fade" id="editChecklist_<%=checklist.id%>">
								  <div class="modal-dialog" role="document">
								    <div class="modal-content">
								      <div class="modal-header">
								        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
								          <span aria-hidden="true">&times;</span>
								        </button>
								        <h4 class="modal-title">Edit Checklist</h4>
								      </div>
								      <div class="modal-body">
										<form method="post" action="/users/<%=@user.id%>/checklists/<%=checklist.id%>">
											<label>Name:</label>
											<input type="text" name="checklist[title]"> 
											<button class="btn btn-info">Save</button>

											<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
											<input name="_method" type="hidden" value="put" />
										</form>
								    	</div><!-- /.modal-content -->
								    </div>
								  </div><!-- /.modal-dialog -->
								</div><!-- /.modal --> 

						<%= link_to user_checklist_path(@user, checklist), method: :delete, data: { confirm: "Are you sure?" } do %>
							<span class="glyphicon glyphicon-trash" id="thisweek-trash"></span>
						<% end %>
						
						<% checklist.tasks.order("deadline ASC").each do |task| %>
							<li>
								<% if task.completed? %>	
								<p style="opacity: 0.5;" class="task-title"><strike> 
								<p><%= task.name %>
								<%= task.deadline.strftime("%m/%d/%Y") %>
								</p>
								</strike></p>
								<p style="opacity: 0.5;" class="time-created-at task-sub-title">Completed <%= time_ago_in_words(task.completed_at) %> ago</p>

								<%= link_to user_checklist_task_path(@user, checklist, task), method: :delete, data: { confirm: "Are you sure?" } do %>
									<span class="glyphicon glyphicon-trash"></span>
								<% end %>
							
							<% else %>
							
								<p><%= task.name %> -
								<%= task.deadline.strftime("%m/%d/%Y") %>
								</p>

								<%= link_to complete_user_checklist_task_path(@user,checklist,task), method: :patch do %>
									<span class="glyphicon glyphicon-ok"></span>
								<% end %>

								<!-- Button trigger modal -->
								<span class="glyphicon glyphicon-pencil" data-task-id="<%=task.id%>" data-toggle="modal" data-target="#editTask_<%=task.id%>">
								</span>
								
								<div class="modal fade" id="editTask_<%=task.id%>">
								  <div class="modal-dialog" role="document">
									    <div class="modal-content">
									      <div class="modal-header">
									        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
									          <span aria-hidden="true">&times;</span>
									        </button>
									        <h4 class="modal-title">Edit Task</h4>
									      </div>
									      <div class="modal-body">
											<form method="post" action="/users/<%=@user.id%>/checklists/<%=checklist.id%>/tasks/<%=task.id%>">
												<label>Name:</label>
												<input type="text" name="task[name]"> 
												<label>Deadline:</label>
												<input type="date" name="task[deadline]" > 
												<button class="btn btn-info">Save</button>

												<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
												<input name="_method" type="hidden" value="put" />
											</form>
									    	</div><!-- /.modal-content -->
									  </div><!-- /.modal-dialog -->
									</div>
								</div><!-- /.modal -->

								<%= link_to user_checklist_task_path(@user, checklist, task), method: :delete, data: { confirm: "Are you sure?" } do %>
									<span class="glyphicon glyphicon-trash"></span>
								<% end %>
							
							</li>
							<% end %>
						<% end %>
					<% end %>

				<% end %>
					<!-- Button trigger modal -->
								<span class="glyphicon glyphicon-plus" id="thisweek-plus" data-checklist-id="<%=@checklist.id%>" data-toggle="modal" data-target="#addTaskWeek_<%=@checklist.id%>">
								</span>
								
								<div class="modal fade" id="addTaskWeek_<%=@checklist.id%>">
								  <div class="modal-dialog" role="document">
								    <div class="modal-content">
								      <div class="modal-header">
								        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
								          <span aria-hidden="true">&times;</span>
								        </button>
								        <h4 class="modal-title">Add Task</h4>
								      </div>
								      <div class="modal-body">
											<%= render 'tasks/taskform' %>
										</div>
								    </div><!-- /.modal-content -->
								  </div><!-- /.modal-dialog -->
								</div><!-- /.modal -->		
			</div>
			

			<div class="col-xs-4 checklist" id="month-checklist">
				<!-- 'This Month' Checklist --> 
				<% @checklists.each do |checklist| %>
					<% if checklist.title == Date.today.strftime("%B")%>

					<h4><b><%= link_to "#{checklist.title}", user_checklists_path(@user, checklist) %></b>
					</h4>
						<!-- Button trigger modal -->
								<span class="glyphicon glyphicon-pencil" id="month-pencil" data-task-id="<%=checklist.id%>" data-toggle="modal" data-target="#editChecklist_<%=checklist.id%>">
								</span>
								
								<div class="modal fade" id="editChecklist_<%=checklist.id%>">
								  <div class="modal-dialog" role="document">
								    <div class="modal-content">
								      <div class="modal-header">
								        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
								          <span aria-hidden="true">&times;</span>
								        </button>
								        <h4 class="modal-title">Edit Checklist</h4>
								      </div>
								      <div class="modal-body">
											<form method="post" action="/users/<%=@user.id%>/checklists/<%=checklist.id%>">
												<label>Name:</label>
												<input type="text" name="checklist[title]"> 
												<button class="btn btn-info">Save</button>

												<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
												<input name="_method" type="hidden" value="put" />
											</form>
										</div>
								    </div><!-- /.modal-content -->
								  </div><!-- /.modal-dialog -->
								</div><!-- /.modal --> 

					<%= link_to user_checklist_path(@user, checklist), method: :delete, data: { confirm: "Are you sure?" } do %>
						<span class="glyphicon glyphicon-trash" id="month-trash"></span>
						<% end %>
				
						<% checklist.tasks.order("deadline ASC").each do |task| %>
							<li>
								<% if task.completed? %>	
								<p style="opacity: 0.5;" class="task-title"><strike> 
								<p><%= task.name %>
								<%= task.deadline.strftime("%m/%d/%Y") %>
								</p>
								</strike></p> 
								<p style="opacity: 0.5;" class="time-created-at task-sub-title">Completed <%= time_ago_in_words(task.completed_at) %> ago</p>

								<%= link_to user_checklist_task_path(@user, checklist, task), method: :delete, data: { confirm: "Are you sure?" } do %>
									<span class="glyphicon glyphicon-trash"></span>
								<% end %>
							<% else %>
								<% if task.urgent == true %>
									<p><b><b><b><%= task.name %></b></b></b> -
									<%= task.deadline.strftime("%m/%d/%Y") %>
									</p>
								<% else %>
								<p><%= task.name %> -
								<%= task.deadline.strftime("%m/%d/%Y") %>
								</p>
								<% end %>




								<%= link_to complete_user_checklist_task_path(@user,checklist,task), method: :patch do %>
									<span class="glyphicon glyphicon-ok"></span>
								<% end %>

								<!-- Button trigger modal -->
								<span class="glyphicon glyphicon-pencil" data-task-id="<%=task.id%>" data-toggle="modal" data-target="#editTask_<%=task.id%>">
								</span>
								
								<div class="modal fade" id="editTask_<%=task.id%>">
								  <div class="modal-dialog" role="document">
								    <div class="modal-content">
								      <div class="modal-header">
								        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
								          <span aria-hidden="true">&times;</span>
								        </button>
								        <h4 class="modal-title">Edit Task</h4>
								      </div>
								      <div class="modal-body">
											<form method="post" action="/users/<%=@user.id%>/checklists/<%=checklist.id%>/tasks/<%=task.id%>">
												<label>Name:</label>
												<input type="text" name="task[name]"> 
												<label>Deadline:</label>
												<input type="date" name="task[deadline]" > 
												<button class="btn btn-info">Save</button>

												<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
												<input name="_method" type="hidden" value="put" />
											</form>
										</div>
								    </div><!-- /.modal-content -->
								  </div><!-- /.modal-dialog -->
								</div><!-- /.modal -->

								<%= link_to user_checklist_task_path(@user, checklist, task), method: :delete, data: { confirm: "Are you sure?" } do %>
									<span class="glyphicon glyphicon-trash"></span>
								<% end %>
							
								

							<% end %>
							</li>
						<% end %>
					<% end %>
			
				<% end %>
					<!-- Button trigger modal -->
								<span class="glyphicon glyphicon-plus" id="month-plus" data-checklist-id="<%=@monthchecklist.id%>" data-toggle="modal" data-target="#addTask_<%=@monthchecklist.id%>">
								</span>
								
								<div class="modal fade" id="addTask_<%=@monthchecklist.id%>">
								  <div class="modal-dialog" role="document">
								    <div class="modal-content">
								      <div class="modal-header">
								        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
								          <span aria-hidden="true">&times;</span>
								        </button>
								        <h4 class="modal-title">Add Task</h4>
								      </div>
								      <div class="modal-body">
											<%= render 'tasks/monthtaskform' %>
										</div>
								    </div><!-- /.modal-content -->
								  </div><!-- /.modal-dialog -->
								</div><!-- /.modal -->		

			</div>
		</div>

		<!--Row 4 (6,6)-->
		<div class="row row4">
			<div class="col-xs-6 playlist">
			<!-- Weekly Playlist -->
			<h2> Curated Jams </h2>
			<hr class="style1-playlist">
			<p>Our favorite jams to get you in an ooey gooey,
			heart-meltin' mood for plannin' </p>
			<div class="spotify">
			<iframe src="https://embed.spotify.com/?uri=spotify%3Auser%3Abelovedco%3Aplaylist%3A7yD5cVeXFXbdBKwDDNCbeb" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
			</div>
			</div>

			<div class="col-xs-6 image-quote">
			<!--Image with Quote-->

			</div>
		</div>

		<!--Row 5 (12)-->
		<div class="row treat">
			<div class="col-xs-5">
			</div>

			<div class="col-xs-2" id="user-treat">
				<!-- TREAT -->
			<a class="btn btn-primary btn-lg btn-treat" href="/users/<%=@user.id%>/charges/new" role="button">
				Treat Yo'self 
			</a>
			</div>

			<div class="col-xs-5">
			</div>

		</div>

		<!--Row 6 (2,8,2) BLOG -->
		<div class="row blog">
			<h1>Blog</h1>
		</div>
		<div class="row">
			<div class="col-xs-2">
			</div>

			<div class="col-xs-4 blog-posts">
				<div class="thumbnail">
			      <img src="/images/budget.jpg" alt="budget photo">
			      <div class="caption">
			        <h3>Ballin' On A Budget</h3>
			        <p>We've surveyed our married friends and they're sharing their secrets. Who doesn't love saving money?</p>
			        <p><a href="#" class="btn btn-primary" role="button">Read Post</a></p>
			      </div>

			      </div>

			      <div class="thumbnail">
			      <img src="/images/calligraphy.jpg" alt="calligraphy photo">
			      <div class="caption">
			        <h3>Modern Calligraphy Tips</h3>
			        <p>Want to address your invitations with tender loving care & class? We've gotchu.</p>
					<p><a href="#" class="btn btn-primary" role="button">Read Post</a></p>			      
				  </div>

			      </div>
			</div>

			<div class="col-xs-4 blog-posts">
				<div class="thumbnail">
			      <img src="/images/compare.jpg" alt="comparison photo">
			      <div class="caption">
			        <h3>Don't Let Comparison Win</h3>
			        <p>When comparison kills your wedding joy. Don't let it happen to you.</p>
			        <p><a href="#" class="btn btn-primary" role="button">Read Post</a></p>
			      </div>

			      </div>

			      <div class="thumbnail">
			      <img src="/images/dress.jpg" alt="dress photo">
			      <div class="caption">
			        <h3>Dress Shopping 101</h3>
			        <p>Either you love it, or you hate it. We have tips that'll make your shopping experience carefree and fun.</p>
			        <p><a href="#" class="btn btn-primary" role="button">Read Post</a></p>
			      </div>

			      </div>
			</div>

			<div class="col-xs-2">
			</div>
		</div>
		</span>
	</div>

























