<h1> Welcome, <%= current_user.name %>! </h1>
<h2>Only <%= @count %> days until you and <%=current_user.fiance_name%> tie the knot!</h2>


<!--Upload photos -->
<p> Upload photos of you and your fiancé/fiancée or inspirational photos</p>
<%= render 'form' %>


<% @images.each do |img| %>
	<%= image_tag img.image.url(:large) %>
<% end %>


<!-- Calendar -->
<p> CALENDAR w/dates</p>


<!-- Checklist Snapshot (current month, current week)--> 

<!-- TREAT -->
<p> TREAT </p>
<button>Treat yo'self</button>

<!-- Jams -->






