<h1>Checklists</h1>

<% @checklists.each do |checklist| %>
	<ul>
	<%= link_to "#{checklist.title}", user_checklist_path(@user, checklist.id) %>

	<%= link_to 'Edit', edit_user_checklist_path(@user, checklist) %> 

	<%= link_to 'Delete', user_checklist_path(@user, checklist), method: :delete, data: { confirm: "Are you sure?" } %>
	
	<% checklist.tasks.order("deadline ASC").each do |task| %>
		<li>
	        <% if task.completed? %>	
				<p style="opacity: 0.5;" class="task-title"><strike> 
				<%= task.name %>
				<%= task.deadline.strftime("%m/%d/%Y") %>
				</strike></p>
				<p style="opacity: 0.5;" class="time-created-at task-sub-title">Completed <%= time_ago_in_words(task.completed_at) %> ago</p>

				<%= link_to 'Delete Task', user_checklist_task_path(@user, checklist, task), method: :delete, data: { confirm: "Are you sure?" } %>
			<% else %>
				<%= task.name %>
				<%= task.deadline.strftime("%m/%d/%Y") %>

				<%= link_to "Mark As Complete", complete_user_checklist_task_path(@user,checklist,task), method: :patch %>
			
				<%= link_to 'Edit Task', edit_user_checklist_task_path(@user, checklist, task) %>

				<%= link_to 'Delete Task', user_checklist_task_path(@user, checklist, task), method: :delete, data: { confirm: "Are you sure?" } %>
			<% end %>
		
		</li>
	<% end %>

	<%= render '/tasks/taskform' %>
	</ul>

<% end %>
<br>


<%= render 'checklistform' %>
<br>
<%= link_to "Create New Checklist", new_user_checklist_path %>