<h1>Checklists</h1>

<% @checklists.each do |checklist| %>
	<ul>
	<%= link_to "#{checklist.title}", user_checklist_path(@user, checklist.id) %>

	<%= link_to 'Edit', edit_user_checklist_path(@user, checklist) %> 

	<%= link_to 'Delete', user_checklist_path(@user, checklist), method: :delete, data: { confirm: "Are you sure?" } %>
	
	<% checklist.tasks.each do |task| %>
		<li>
			<%= task.name %>
			<%= task.deadline %>

			<%= link_to 'Edit Task', edit_user_checklist_task_path(@user, checklist, task) %>

			<%= link_to 'Delete Task', user_checklist_task_path(@user, checklist, task), method: :delete, data: { confirm: "Are you sure?" } %>
		</li>
	<% end %>


	</ul>



<% end %>
<br>


<%= render 'checklistform' %>
<br>
<%= link_to "Create New Checklist", new_user_checklist_path %>