<div class="container-fluid checklist-index">
	
	<div class="row row-checklist">
	<!-- Row 2 -->
		<div class="col-xs-6" id="checklist-graphic">
			<p class="checktext">check </p>
			<p class="checksubtext">lists</p>
		</div>

		<div class="col-xs-6 c-index">
			<!-- Button trigger modal -->
			<button type="button" class="btn btn-primary btn-sm addChecklistbtn" data-toggle="modal" data-target="#addChecklist">
			  Add Checklist
			</button>

			<!-- Modal -->
			<div class="modal fade" id="addChecklist">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h4 class="modal-title">Add A Checklist</h4>
			      </div>
			      <div class="modal-body">
			        <%= render '/checklists/checklistform' %>
			      </div>
			    </div><!-- /.modal-content -->
			  </div><!-- /.modal-dialog -->
			</div><!-- /.modal --> 

				<!-- All Checklists --> 
				<% @checklists.each do |checklist| %>

					<div class="checklist">
						<h4><b><%= checklist.title %>
						</b></h4>

						<!-- Button trigger modal -->
								<span class="glyphicon glyphicon-pencil" id="checklistindex-pencil" data-task-id="<%=checklist.id%>" data-toggle="modal" data-target="#editChecklist_<%=checklist.id%>">
								</span>
								<!--Modal-->
								<div class="modal fade" id="editChecklist_<%=checklist.id%>">
								  <div class="modal-dialog" role="document">
								    <div class="modal-content">
								      <div class="modal-header">
								        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
								          <span aria-hidden="true">&times;</span>
								        </button>
								        <h4 class="modal-title">Edit Checklist</h4>
								      </div>
								      <div class="modal-body">
											<form method="post" action="/users/<%=@user.id%>/checklists/<%=checklist.id%>">
												<label>Name:</label>
												<input type="text" name="checklist[title]"> 
												<button class="btn btn-info">Save</button>

												<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
												<input name="_method" type="hidden" value="put" />
											</form>
										</div>
								    </div><!-- /.modal-content -->
								  </div><!-- /.modal-dialog -->
								</div><!-- /.modal --> 

					<%= link_to user_checklist_path(@user, checklist), method: :delete, data: { confirm: "Are you sure?" } do %>
						<span class="glyphicon glyphicon-trash" id="checklist-trash"></span>
						<% end %>
				
						<% checklist.tasks.order("deadline ASC").each do |task| %>
							<li>
								<% if task.completed? %>	
								<p style="opacity: 0.5;" class="task-title"><strike> 
								<p><%= task.name %>
								<%= task.deadline.strftime("%m/%d/%Y") %>
								</p>
								</strike></p> 
								<p style="opacity: 0.5;" class="time-created-at task-sub-title">Completed <%= time_ago_in_words(task.completed_at) %> ago</p>

								<%= link_to user_checklist_task_path(@user, checklist, task), method: :delete, data: { confirm: "Are you sure?" } do %>
									<span class="glyphicon glyphicon-trash"></span>
								<% end %>
							<% else %>
								<% if task.urgent == true %>
									<p><b><b><b><%= task.name %></b></b></b> -
									<%= task.deadline.strftime("%m/%d/%Y") %>
									</p>
								<% else %>
								<p><%= task.name %> -
								<%= task.deadline.strftime("%m/%d/%Y") %>
								</p>
								<% end %>

								<%= link_to complete_user_checklist_task_path(@user,checklist,task), method: :patch do %>
									<span class="glyphicon glyphicon-ok"></span>
								<% end %>

								<!-- Button trigger modal -->
								<span class="glyphicon glyphicon-pencil" data-task-id="<%=task.id%>" data-toggle="modal" data-target="#editTask_<%=task.id%>">
								</span>
								
								<div class="modal fade" id="editTask_<%=task.id%>">
								  <div class="modal-dialog" role="document">
								    <div class="modal-content">
								      <div class="modal-header">
								        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
								          <span aria-hidden="true">&times;</span>
								        </button>
								        <h4 class="modal-title">Edit Task</h4>
								      </div>
								      <div class="modal-body">
											<form method="post" action="/users/<%=@user.id%>/checklists/<%=checklist.id%>/tasks/<%=task.id%>">
												<label>Name:</label>
												<input type="text" name="task[name]"> 
												<label>Deadline:</label>
												<input type="date" name="task[deadline]" > 
												<button class="btn btn-info">Save</button>

												<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
												<input name="_method" type="hidden" value="put" />
											</form>
										</div>
								    </div><!-- /.modal-content -->
								  </div><!-- /.modal-dialog -->
								</div><!-- /.modal -->

								<%= link_to user_checklist_task_path(@user, checklist, task), method: :delete, data: { confirm: "Are you sure?" } do %>
									<span class="glyphicon glyphicon-trash"></span>
								<% end %>	
							<% end %>
							</li>
						<% end %>
						</div>
						<!-- Button trigger modal -->
					<span class="glyphicon glyphicon-plus" id="index-plus"data-checklist-id="<%=checklist.id%>" data-toggle="modal" data-target="#addTask_<%=checklist.id%>">
					</span>
				
				<div class="modal fade" id="addTask_<%=checklist.id%>">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				        <h4 class="modal-title">Add Task</h4>
				      </div>
				      <div class="modal-body">
							<form method="post" action="/users/<%=@user.id%>/checklists/<%=checklist.id%>/tasks">
								<label>Name:</label>
								<input type="text" name="task[name]"> 
								<label>Deadline:</label>
								<input type="date" name="task[deadline]" > 
								<button class="btn btn-info">Save</button>

								<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token %>">

								<!-- <input name="_method" type="hidden" value="post" /> -->
							</form>
						</div>
				    </div><!-- /.modal-content -->
				  </div><!-- /.modal-dialog -->
				</div><!-- /.modal -->	

					<% end %>
			</div>
		</div><!--end of column-->
	</div><!-- end of row-->



	<div class="row">
	<!-- Row 3 -->
		<div class="col-xs-12">
		<!-- Image with quote -->
		</div>
	</div>

</div><!--end or container-->





