<!--user's navbar-->
<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>

      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container user-navbar">

            <%= link_to "Checklist", user_checklists_path(current_user.name) %>

            <%= link_to "Budgeter", user_expenses_path(current_user.name) %> 
          
            
            <%= link_to "Guest List", user_guests_path(current_user.name) %> 
            
            
            <%= link_to "Treat", user_treat_path(current_user.name) %>
            
            
            <%= link_to "Create", user_create_path(current_user.name) %>
            
            
            <%= link_to "Settings", user_settings_path(current_user.name) %>
            

          
            <%= link_to "Logout", destroy_user_session_path, method: "delete" %>
            
          
        </div>
      </nav>

    

  </div>
<body>

</body>
</html>
